In [11]:
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import Binarizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('WA_Fn-UseC_-Sales-Win-Loss.csv')

In [3]:
data.describe()

,Opportunity Number,Elapsed Days In Sales Stage,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category
count,7.802500e+04,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000,78025.000000
mean,7.653429e+06,43.595348,2.955732,16.728356,16.314348,91637.260750,1.620481,1.604050,0.303287,0.203063,0.488314,0.185048,3.436745
std,1.054848e+06,26.585600,1.497242,16.729593,16.562597,133161.029156,1.235796,1.210744,0.930290,0.364985,0.448077,0.340283,1.656890
min,1.641984e+06,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,6.900423e+06,19.000000,2.000000,4.000000,4.000000,15000.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,7.545569e+06,43.000000,3.000000,12.000000,12.000000,49000.000000,1.000000,1.000000,0.000000,0.000000,0.448000,0.000000,3.000000
75%,8.228329e+06,65.000000,3.000000,24.000000,24.000000,105099.000000,1.000000,1.000000,0.000000,0.197225,1.000000,0.188552,5.000000
max,1.009427e+07,210.000000,23.000000,208.000000,208.000000,1000000.000000,5.000000,5.000000,4.000000,1.000000,1.000000,1.000000,7.000000

## build a linar model for data that has outliers

In [10]:
lb = preprocessing.LabelBinarizer()
data['result'] = lb.fit_transform(data['Opportunity Result'])

## encode the rest of the categorical variables

In [13]:
data.head()

,Opportunity Number,Supplies Subgroup,Supplies Group,Region,Route To Market,Elapsed Days In Sales Stage,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Competitor Type,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category,result
0,1641984,Exterior Accessories,Car Accessories,Northwest,Fields Sales,76,Won,13,104,101,0,5,5,0,Unknown,0.69636,0.113985,0.154215,1,1
1,1658010,Exterior Accessories,Car Accessories,Pacific,Reseller,63,Loss,2,163,163,0,3,5,0,Unknown,0.00000,1.000000,0.000000,1,0
2,1674737,Motorcycle Parts,Performance & Non-auto,Pacific,Reseller,24,Won,7,82,82,7750,1,1,0,Unknown,1.00000,0.000000,0.000000,1,1
3,1675224,Shelters & RV,Performance & Non-auto,Midwest,Reseller,16,Loss,5,124,124,0,1,1,0,Known,1.00000,0.000000,0.000000,1,0
4,1689785,Exterior Accessories,Car Accessories,Pacific,Reseller,69,Loss,11,91,13,69756,1,1,0,Unknown,0.00000,0.141125,0.000000,4,0

In [14]:
data.groupby('Competitor Type').size()

Competitor Type
Known      12044
None        9257
Unknown    56724
dtype: int64

In [15]:
le = preprocessing.LabelEncoder()

In [17]:
data['Supplies_Subgroup_Encoded'] = le.fit_transform(data['Supplies Subgroup'])
data['Supplies_Group_Encoded'] = le.fit_transform(data['Supplies Group'])
data['Region_Encoded'] = le.fit_transform(data['Region'])
data['Route_To_Market_Encoded'] = le.fit_transform(data['Route To Market'])
data['Competitor_Type_Encoded'] = le.fit_transform(data['Competitor Type'])

In [18]:
final_data = data.drop(['Supplies Subgroup', 'Supplies Group', 'Region', 'Route To Market', 'Competitor Type', 'Opportunity Result'], axis=1)

In [20]:
final_data.head()

,Opportunity Number,Elapsed Days In Sales Stage,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category,result,Supplies_Subgroup_Encoded,Supplies_Group_Encoded,Region_Encoded,Route_To_Market_Encoded,Competitor_Type_Encoded
0,1641984,76,13,104,101,0,5,5,0,0.69636,0.113985,0.154215,1,1,2,0,3,0,2
1,1658010,63,2,163,163,0,3,5,0,0.00000,1.000000,0.000000,1,0,2,0,4,2,2
2,1674737,24,7,82,82,7750,1,1,0,1.00000,0.000000,0.000000,1,1,5,2,4,2,2
3,1675224,16,5,124,124,0,1,1,0,1.00000,0.000000,0.000000,1,0,8,2,1,2,0
4,1689785,69,11,91,13,69756,1,1,0,0.00000,0.141125,0.000000,4,0,2,0,4,2,2

## prepare the data

In [22]:
yVar = final_data['result']
xVar = final_data.loc[:, final_data.columns != 'results']

In [23]:
X_train, X_test, y_train, y_test = train_test_split(xVar, yVar, test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(62420, 19) (62420,)
(15605, 19) (15605,)

## build the model without removing any outliers

In [24]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [25]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.77